{% extends "auth_base.html" %}
{% load static %}


{% block content %}

<div class="row">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-6 register-form">

    <form method='POST' class="border-class form-signin"> {% csrf_token %}
      <div class="text-center">
      </div>

      <div class="text-center">
        <h2> Please  choose which user group you are from </h2>
        <button type="submit" class=" btn btn-lg"><a href="{% url 'soc_login' %}">Society</a></button>
        <button type="submit" class=" btn btn-lg"><a href="{% url 'login' %}">Student</a></button>
      </div>

    </form>

  {% endblock %}
