{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">

<div class="col-lg-11 bod  ">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Event</th>
        <th scope="col">Host</th>
        <th scope="col">Location</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    {% for obj in product %}
      <tr>
        <td>{{obj.title}} </td>
        <td>{{obj.hosting}}</td>
        <td>{{obj.location}} </td>
        <td>{{obj.price}}</td>
        <td><a class="btn btn-success" href="{% url 'detail' slug=obj.slug %}" role="button">View More</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>




  <h4> This product is on sale to every one in the college</h4>
  <div class="col-lg-11 bod  ">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Event</th>
          <th scope="col">Host</th>
          <th scope="col">Location</th>
          <th scope="col">Price</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
  {% for obj in allSaleProduct %}
  <tr>
    <td>{{obj.title}} </td>
    <td>{{obj.hosting}}</td>
    <td>{{obj.location}} </td>
    <td>{{obj.price}}</td>
    <td><a class="btn btn-success" href="{% url 'detail' slug=obj.slug %}" role="button">View More</a></td>
  </tr>
  {% endfor%}
</tbody>
</table>

</div>

</div>
{% endblock %}
