{% extends "auth_base.html" %}
{% load static %}


{% block content %}

<div class="row">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-6 register-form">
    <div class="text-center">
      <h2> Please login</h2>
    </div>
    <form method='POST' class="border-class"> {% csrf_token %}
      <p> Please enter your Student Number:</p>
      {{form.username}}<br>
      <p> Please enter your Password:</p>
      {{form.password}}<br>
      <br>
      <h5> Do not have an account? Register <a href="register">here</a>!<h5>
      <div class="text-right">
        <button type="submit" class=" btn btn-lg" >Submit</button>
      </div>


    </form>

  {% endblock %}
