{% extends "auth_base.html" %}
{% load static %}


{% block content %}

<div class="row">
  <div class="col-md-3 col-sm-1">
  </div>
  <div class="col-md-6 col-sm-9 register-form">

    <form method='POST' class="border-class form-signin"> {% csrf_token %}
      <div class="text-center">
      </div>
      <div class="text-center">
        <h3>{{ error }}</h3>
        {% if activate %}
            <h3>{{ activate }}</h3>
            <h3>Please Check your emails</h3>

      </div>
        {% else %}
          <h2> Please login</h2>
          {{form.username}}
          {{form.password}}<br>
          <br>
          <h5> Do not have an account? <a href="{% url 'register' %}">Register here</a>!<h5>
          <div class="text-right">
            <button type="submit" class=" btn btn-lg" >Submit</button>
          </div>
      {% endif %}

    </form>

  {% endblock %}
