{% extends "auth_base.html" %}
{% load static %}


{% block content %}

<div class="row">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-6 register-form">
    <div class="text-center">
      <h2> Please create your account</h2>
    </div>
    <form method='POST' class="border-class"> {% csrf_token %}
      <p> Please enter your student Number:</p>
      {{form.username}}<br>
      <p> Please enter your password:</p>
      {{form.password}}<br>
      <p> Please enter your confirm your password:</p>
      {{form.password2}}<br>
      <p> Please enter your student email:</p>
      {{form.email}}<br>
      <p> Please enter your course:</p>
      {{form.course}}<br>
      <p> Please enter your the college your part of:</p>
      {{form.college}}<br>
      <br>

      <div class="text-right">
        <button type="submit" class=" btn btn-lg" >Submit</button>
      </div>


    </form>
  </div>
  </div>
</div>
</div

</form>

{% endblock %}
