{% extends "base.html" %}

{% block content  %}

<div class="container bod">

          {% if not object.shipping_addr %}

             <div class='row'>
              <div class='col-6 mx-auto '>
                  <p class='lead'>Shipping Address</p>
                  <hr/>
                  <div class='row'>
                   <div class='col-6'>
                     {% url "checkout_address_create" as checkout_address_create %}
                     {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='shipping' %}
                   </div>
                  {% url "checkout_address_use" as checkout_address_use %}
                  {% include 'addresses/prev.html' with address_queryset=address_queryset next_url=request.build_absolute_uri address_type='shipping' action_url=checkout_address_use %}

          </div>
          </div>
        </div>


          {% elif not object.billing_addr %}
          <div class='row'>
              <div class='col-6 mx-auto'>
                  <p class='lead'>Billing Address</p>
                  <hr/>
                  <div class='row'>
                   <div class='col-6'>
                     {% url "checkout_address_create" as checkout_address_create %}
                     {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='shipping' %}
                   </div>
                  {% url "checkout_address_use" as checkout_address_use %}
                  {% include 'addresses/prev.html' with address_queryset=address_queryset next_url=request.build_absolute_uri address_type='billing' action_url=checkout_address_use %}
          </div>
          </div>

          </div>
          {% else %}

              <h1>Finalize Checkout</h1>

              <p>Shipping Address: {{ object.shipping_addr.get_addr }}</p>
              <p>Billing Address: {{ object.billing_addr.get_addr }}</p>
              <p>Order Total: {{ object.total_price }}</p>
              <form class ='form' method='POST' action="">{% csrf_token %}
                <button type='submit'>Checkout</button>
              </form>
        {% endif %}
    {% endblock %}
