{% extends "base.html" %}
{% load static %}


{% block content %}

<div class = 'text-center'>
  <h1>{{title}}</h1>
  <h1>Hello, world! We are working</h1>
</div>

<div class='container'>
  <div class = 'row'>
    <div class = 'col'>
      <p>{{content}}</p>

    </div>
  </dv>


  {% if request.user.is_authenticated %}
  <div class = 'row'>
    <div class = 'col'>
      <h1> Premium content</h1>
      <p>{{premium_content}}</p>

    </div>
  </div>
  {% endif %}

  </div>

</div>

{% endblock %}
