{% extends "eventmanager/manager_base.html" %}
{% load static %}

{% block content %}
<div class="container">

<div class="col-lg-12 bod  ">
  <h4> These are a list of your upcoming events</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">EVent Title</th>
        <th scope="col">Number of Tickets On Sale</th>
        <th scope="col">Time Sale Starts</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    {% for obj in upcoming %}
      <tr>
        <td>{{obj.title}} </td>
        <td>{{obj.number_tickets_on_sale}}</td>
        <td>{{obj.time_sale_start}} </td>
        <td><a class="btn btn-success" href="#" role="button">Edit Details</a></td>
        <td><a class="btn btn-success" href="{% url 'detail' slug=obj.slug %}" role="button">View Details</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>




<div class="col-lg-12 bod  ">
  <h4> These are a list of your events on sale now</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Event Title</th>
        <th scope="col">Number of Tickets On Sale</th>
        <th scope="col">Tickets sold</th>
        <th scope="col">When Sale ends</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    {% for obj in active %}
      <tr>
        <td>{{obj.title}} </td>
        <td>{{obj.number_tickets_on_sale}}</td>
        <td> tickets sold </td>
        <td>{{obj.time_sale_end}}</td>
        <td><a class="btn btn-success" href="#" role="button">Edit Details</a></td>
        <td><a class="btn btn-success" href="#" role="button">View Orders</a></td>
        <td><a class="btn btn-success" href="{% url 'detail' slug=obj.slug %}" role="button">View Details</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

<div class="col-lg-12 bod  ">
  <h4> These are a list of your past events</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Event Title</th>
        <th scope="col">Tickets sold</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    {% for obj in past %}
      <tr>
        <td>{{obj.title}} </td>
        <td> tickert sold </td>
        <td><a class="btn btn-success" href="#" role="button">View Orders</td>
        <td><a class="btn btn-success" href="{% url 'detail' slug=obj.slug %}" role="button">View Details</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

</div>
{% endblock %}
