{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="col-lg-11 bod">
  <div class = 'row'>
    <div class = 'col-12 col-md-9 bod'>
      {{ object.title }} <br/>
      {{ object.description }} <br/>
      {{ object.price }} <br/>
      {% if object.image %}
        <img src = "{{ object.image.url }}" style="max-width:100%;"/> <br/>
      {% endif %}
    </div>
    <div class = 'col-12 col-md-3 add_to_cart_button add_to_cart_button'>
      {% include 'events/add_to_cart.html' with event=object cart=cart %}

    </div>

  </div>
</div>
</div>


{% endblock %}
