body{
  background-color: #C0C0C0;
}

html *{
  font-family: 'Roboto Mono', monospace;
}

.border-class
{
  border:solid;
  border-width: 5px;
  margin:20px;
  padding:20px;
  border-radius: 5px;
  border-color: #000080;
}
