body{
  background-color: #e5edf9;
}

html *{
  font-family: 'Work Sans', sans-serif;
  color:#4286f4;
}

.border-class
{
  border:solid;
  border-width: medium;
  margin:40px;
  padding:40px;
  border-radius: 10px;
  border-color: #4286f4;
  border-spacing: 15px 50px;
}

.register-form{
    color:#4ABDAC;
  }

  html, body {
      max-width: 100%;
      overflow-x: hidden;
  }

.bod{
  margin-top: 4%;
  background-color: white;
  padding-bottom: 6%;

}
.product-row{
  border:solid;
  border-width: 0px 0px 2px 0px;
  border-color: #4ABDAC;

}

.event_price{
  border-width: thin;
  border-left: solid;
  border-color: #4ABDAC;
  padding-bottom: 2px;
  margin:2px;
  padding:2px;

}

.add_to_cart_button{
  margin-top:4%;
}

.btn-success{
  background-color:#4286f4 !important;
  border-color: #4286f4 !important;


}


.btn-lg{
  background-color:#FFFFFF !important;
  border-color: #FFFFFF !important;


}



@media all and (max-width: 1200px) { /* screen size until 1200px */
    body {
        font-size: 1.2em; /* 1.5x default size */
    }
}
@media all and (max-width: 750px) { /* screen size until 1000px */
    body {
        font-size: 0.7em; /* 1.2x default size */
        }
    }
@media all and (max-width: 500px) { /* screen size until 500px */
    body {
        font-size: 0.8em; /* 0.8x default size */
        }
    }
