body{
  background-color: #DFDCE3;
}

html *{
  font-family: 'Roboto Mono', monospace;
  color:#4ABDAC;
}

.border-class
{
  border:solid;
  border-width: medium;
  margin:20px;
  padding:20px;
  border-radius: 10px;
  border-color: #4ABDAC;
}

.register-form{
    color:#4ABDAC;
  }

  html, body {
      max-width: 100%;
      overflow-x: hidden;
  }
